@font-face {
  font-family: 'Rubik-Regular' !important;
  src: local('Rubik-Regular'), url('../public/fonts/Rubik-Regular.ttf') format('tff') !important;
}

@font-face {
  font-family: 'Rubik-300-Italic' !important;
  src: local('Rubik-300-Italic'), url('../public/fonts/Rubik-Italic.ttf') format('tff') !important;
}



